body {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: auto;
}

.profile-class {
    display: flex;
    flex-direction: column;
}